<template>
    <div>
        <input type="text" v-model.trim="message">
        <button @click="sendMessage" :disabled="message.length === 0">Send</button>
    </div>
</template>
<script>
    export default {
      data() {
        return {
          show   : false,
          message: '',
        };
      },
      methods: {
        clearMessageInput() {
          this.message = '';
        },

        sendMessage() {
          this.$emit('onSendMessage', this.message);
          this.clearMessageInput();
        },
      },
    };
</script>