<template>
    <nav id="pagination">
        <a @click="prev">&lt;&lt;</a>
        <a @click="goTo(page)" v-for="page in pages" :class="{active: page === currentPage}">{{page}}</a>
        <a @click="next">&gt;&gt;</a>
    </nav>
</template>
<script>
    export default {
      props   : {
        total  : {
          type    : Number,
          required: true,
        },
        perPage: {
          type    : Number,
          required: true,
        },
      },
      data() {
        return {
          currentPage: 1,
        };
      },
      computed: {
        pages() {
          return Math.ceil(this.total / this.perPage);
        },

        isFirstPage(){
          return this.currentPage === 1;
        },

        isLastPage(){
          return this.pages === this.currentPage;
        }
      },
      methods : {
        prev() {
          this.currentPage = this.isFirstPage ? this.currentPage : this.currentPage - 1;
        },
        next() {
          this.currentPage = this.isLastPage ? this.currentPage : this.currentPage + 1;
        },
        goTo(page) {
          this.currentPage = page;
        },
      },
      watch   : {
        currentPage(value) {
          this.$emit('onChangePage', value);
        },
      },
    }
    ;
</script>
<style lang="scss" scoped>
    #pagination {
        width: 100%;

        a {
            display: inline-block;
            padding: 10px;
            cursor:  pointer;

            &.active {
                border: 1px solid lightgray;
                cursor: default;
            }
        }
    }
</style>