<template>
    <div>
        <h1>Telegram Subscribers [{{allSubscribers.length}}]</h1>
        <p>{{status}}</p>
        <hr>
        <ul style="list-style-type: none" v-if="subscribers.length > 0">
            <li v-for="subscriber in subscribers"
                >
                <label style="user-select: none">
                    <input type="checkbox"
                           :value=subscriber.id
                           v-model="selectedSubscribers" />{{subscriber.username}} [{{subscriber.id}}]</label>
            </li>
        </ul>
        <div v-else>No subscribers</div>
        <Pagination :total.number="allSubscribers.length"
                    @onChangePage="onChangePage"
                    v-show="subscribers.length > 0"
                    :perPage.number="perPage" />
        <hr>
        <button @click="toggleMessageInput">{{sendMessageBtnLabel}}</button>
        <button @click="deleteUsers"
                :disabled="isDeleteBtnDisabled">Delete Selected [{{this.selectedSubscribers.length}}]</button>
        <MessageInput @onSendMessage="sendMessage"
                      v-show="isVisibleMessageInput" />
    </div>
</template>
<script>

    const PER_PAGE = 6;

    export default {
      data    : function() {
        return {
          allSubscribers       : [],
          selectedSubscribers  : [],
          isVisibleMessageInput: false,
          currentPage          : 1,
          perPage              : PER_PAGE,
          notificationTimeout  : null,
          status               : '',
        };
      },
      mounted() {
        this.fetchSubscribersFromServer();
      },
      computed: {

        isDeleteBtnDisabled() {
          return this.selectedSubscribers.length === 0;
        },

        subscribers() {

          // -1 because at template range begin from 1
          const start = (this.currentPage - 1) * this.perPage;
          const end   = start + this.perPage;

          return this.allSubscribers.slice(start, end);
        },

        sendMessageBtnLabel() {
          return this.selectedSubscribers.length > 0 ? `Send message to Selected [${this.selectedSubscribers.length}]` : `Send message to all`;
        },
      },

      methods: {

        toggleMessageInput() {
          this.isVisibleMessageInput = !this.isVisibleMessageInput;
        },

        goToFirstPage() {
          this.currentPage = 1;
        },

        onChangePage(page) {
          this.currentPage = page;
        },

        /**
         * Fetch subscribers list from server.
         */
        fetchSubscribersFromServer() {

          axios.get('/api/subscribers').then(response => {
            this.allSubscribers = response.data;
          });

        },

        /**
         * Return subscribers ids list: all or selected only.
         */
        getSubscribersIdsToSendMessage() {
          return this.selectedSubscribers.length > 0 ? this.selectedSubscribers : this.allSubscribers.map(s => s.id);
        },

        hideMessageInput() {
          this.isVisibleMessageInput = false;
        },

        clearSelection() {
          this.selectedSubscribers = [];
        },

        clearMessageInput() {
          this.message = '';
        },

        /**
         * Showing notification about sending and hiding after 5 seconds.
         */
        updateStatus(text, hideAfter = 5) {

          clearTimeout(this.timeout);

          this.status = text;

          this.timeout = setTimeout((function() {
            this.clearNotification();
          }).bind(this), hideAfter * 1000);
        },

        clearNotification() {
          this.status = '';
        },

        /**
         * Send message to subscribers.
         */
        sendMessage(message) {

          this.hideMessageInput();

          let ids = this.getSubscribersIdsToSendMessage();

          axios.post('/api/sendMessage', {

            ids,
            message,

          }).then(() => {

            this.updateStatus('Messages sent.');

            this.clearSelection();
            this.clearMessageInput();

          }).catch(() => {

            this.updateStatus('Messages don\'t sent.');

            this.clearSelection();
            this.clearMessageInput();
            this.hideMessageInput();
          });
        },

        /**
         * Delete user from subscription list.
         */
        deleteUsers() {

          const isHaveSense = this.selectedSubscribers.length > 0
              && confirm('Are you really want unsubscribe this users?');

          if (isHaveSense) {

            axios.post('/api/subscribers/batch', {

              ids: this.selectedSubscribers,

            }).then(() => {

              this.goToFirstPage();
              this.clearSelection();
              this.hideMessageInput();

              this.fetchSubscribersFromServer();

              this.updateStatus("Subscriber deleted from list.");

            }).catch(() => {
              this.updateStatus("'Sorry, can't unsubscribe users.'");
            });
          }
        },
      },
    };
</script>
